@model SqlServerBookStore.Models.ContohAtributModel

<form asp-controller="Latihan" asp-action="Template">
    <label asp-for="ContohEmail"></label>:
    <input asp-for="ContohEmail" />
    <br />

    <label asp-for="ContohUrl"></label>:
    <input asp-for="ContohUrl" />
    <br />

    <label asp-for="ContohPhone"></label>:
    <input asp-for="ContohPhone" />
    <br />

    <label asp-for="ContohPassword"></label>:
    <input asp-for="ContohPassword" />
    <br />

    <label asp-for="ContohDate"></label>:
    <input asp-for="ContohDate" />
    <br />

    <label asp-for="ContohTime"></label>:
    <input asp-for="ContohTime" />
    <br />

    <button type="submit" class="btn btn-success">Submit</button>
</form>
